<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlw.onlinebookshop.dao.AdminDao">

    <select id="login"  parameterType="com.zlw.onlinebookshop.entity.Admin" resultType="com.zlw.onlinebookshop.entity.Admin">
        SELECT AId,AName,APassword,AEmail FROM admin WHERE AName=#{AName} AND APassword=#{APassword}
    </select>


</mapper>
